{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Giriş Yapın</h3>
        <hr>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input autocomplete="off" type="email" class="form-control" id="email" name="email" required>
              <div class="invalid-feedback">
                Doğru bir email adresi girin.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input autocomplete="off" type="password" class="form-control" id="exampleInputPassword1" name="password" required>
              <div class="invalid-feedback">
                Lütfen bu alanı doldurun!
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
          </form>
    </div>
</div>

{% endblock body %}


{% block script %}
<script>
  (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
{% endblock script %}