{% extends "layout.html" %} 
{% load static %}
{% block body %}
<h3 class="text-center">Kullanıcı Kayıt Formu</h3>
<hr />
<div class="porowrap">
  <div class="row">
      <div class="porowrap col-md-6">
          <img class="img-fluid rgform" src="{% static 'img/drblue.png' %}" alt="">
      </div>
      <div class="col-md-6">
        
        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="name" class="form-label">İsim</label>
              <input type="text" class="form-control" id="name" name="name" required autocomplete="off"/>
              <div class="invalid-feedback">
                Lütfen bu alanı doldurun!
              </div>

            </div>
            <div class="mb-3 col-md-6">
              <label for="surname" class="form-label">Soyisim</label>
              <input type="text" class="form-control" id="surname" name="surname" required autocomplete="off"/>
              <div class="invalid-feedback">
                Lütfen bu alanı doldurun!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label class="form-label" for="">Email</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="email" autocomplete="off" aria-label="Username" name="emailhead" required>
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="gmail.com" autocomplete="off" aria-label="Server" name="emailbottom" required>
                <div class="invalid-feedback">
                  Lütfen bu alanı doldurun!
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
              <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="username" name="username" required autocomplete="off"/>
                
              </div>
              <div class="mb-3 col-md-6">
                <label for="password" class="form-label">Şifre</label>
                <input type="password" class="form-control" id="password" name="password" required autocomplete="off"/>
                <div class="invalid-feedback">
                  Lütfen bu alanı doldurun!
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="birthdate" class="form-label">Doğum Tarihi</label>
                <input
                  class="date-input form-control"
                  type="date"
                  id="birthdate"
                  name="birthdate" required autocomplete="off"
                />
                <div class="invalid-feedback">
                  Lütfen bu alanı doldurun!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="gender" class="form-label">Cinsiyet</label>
                <select class="form-select" id="gender" name="gender">
                  <option value="Erkek" selected>Erkek</option>
                  <option value="Kadın">Kadın</option>
                  <option value="Non-Binary">Non-Binary</option>
                  <option value="Transgender">Transgender</option>
                  <option value="Atak Helikopteri">Atak Helikopteri</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="address" class="form-label">Adres</label>
                <input type="text" autocomplete="off" class="form-control" id="address" name="address" required/>
                <div class="invalid-feedback">
                  Lütfen bu alanı doldurun!
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label">Telefon</label>
                <input type="text" autocomplete="off" class="form-control" id="phone" name="phone" required/>
                <div class="invalid-feedback">
                  Lütfen bu alanı doldurun!
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="text-center">
            <button style="width:100%" type="submit" class="btn btn-primary mt-4 mb-4">Gönder</button>
          </div>
        </form>
      </div>
    </div>
  </div>



{% endblock body %}

{% block script %}
<script>
  (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
{% endblock script %}

